<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/phaser.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="game_div"> </div>
  </body>
</html>